div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Product-List
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#Layer1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#Shape1
{
   width: 158px;
   height: 158px;
   background-color: transparent;
   background-image: url('../app 1.webp');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 100% 100%;
   border: 1px #D2D2D2 solid;
   border-radius: 50px;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#WrapText1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
.WrapText1
{
   position: absolute;
   white-space: nowrap;
   border-width: 0;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size:20.80px;
   font-style: normal;
   text-align: left;
}
#Button1
{
   box-sizing: border-box;
   line-height: 42px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #0D6EFD;
   border-radius: 4px;
   background-color: #0D6EFD;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button1:focus
{
   outline: 0;
}
#Download
{
   box-sizing: border-box;
   line-height: 42px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #0D6EFD;
   border-radius: 4px;
   background-color: #0D6EFD;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Download:focus
{
   outline: 0;
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#Layer2
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#Shape3
{
   width: 158px;
   height: 158px;
   background-color: transparent;
   background-image: url('../app 2.webp');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 100% 100%;
   border: 1px #D2D2D2 solid;
   border-radius: 50px;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading2
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#WrapText2
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
.WrapText2
{
   position: absolute;
   white-space: nowrap;
   border-width: 0;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size:20.80px;
   font-style: normal;
   text-align: left;
}
#Button2
{
   box-sizing: border-box;
   line-height: 42px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #0D6EFD;
   border-radius: 4px;
   background-color: #0D6EFD;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button2:focus
{
   outline: 0;
}
#Button3
{
   box-sizing: border-box;
   line-height: 42px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #0D6EFD;
   border-radius: 4px;
   background-color: #0D6EFD;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button3:focus
{
   outline: 0;
}
#Shape4
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#Layer3
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#Shape5
{
   width: 158px;
   height: 158px;
   background-color: transparent;
   background-image: url('../app 3.webp');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 100% 100%;
   border: 1px #D2D2D2 solid;
   border-radius: 50px;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading3
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#WrapText3
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
.WrapText3
{
   position: absolute;
   white-space: nowrap;
   border-width: 0;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size:20.80px;
   font-style: normal;
   text-align: left;
}
#Button4
{
   box-sizing: border-box;
   line-height: 42px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #0D6EFD;
   border-radius: 4px;
   background-color: #0D6EFD;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button4:focus
{
   outline: 0;
}
#Button5
{
   box-sizing: border-box;
   line-height: 42px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #0D6EFD;
   border-radius: 4px;
   background-color: #0D6EFD;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button5:focus
{
   outline: 0;
}
#Shape6
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#Layer4
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#Shape7
{
   width: 158px;
   height: 158px;
   background-color: transparent;
   background-image: url('../app 4.webp');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 100% 100%;
   border: 1px #D2D2D2 solid;
   border-radius: 50px;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading4
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#Heading4 a
{
   color: inherit;
   text-decoration: none;
}
#WrapText4
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
.WrapText4
{
   position: absolute;
   white-space: nowrap;
   border-width: 0;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size:23.80px;
   font-style: normal;
   text-align: left;
}
#Button7
{
   box-sizing: border-box;
   line-height: 42px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #0D6EFD;
   border-radius: 4px;
   background-color: #0D6EFD;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button7:focus
{
   outline: 0;
}
#Shape8
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#Layer5
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#Shape9
{
   width: 158px;
   height: 158px;
   background-color: transparent;
   background-image: url('../app 5.webp');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 100% 100%;
   border: 1px #D2D2D2 solid;
   border-radius: 50px;
}
#wb_Heading5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading5
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#WrapText5
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
.WrapText5
{
   position: absolute;
   white-space: nowrap;
   border-width: 0;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size:20.80px;
   font-style: normal;
   text-align: left;
}
#Button9
{
   box-sizing: border-box;
   line-height: 42px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #0D6EFD;
   border-radius: 4px;
   background-color: #0D6EFD;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button9:focus
{
   outline: 0;
}
#Shape10
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
#Layer6
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#Shape11
{
   width: 158px;
   height: 158px;
   background-color: transparent;
   background-image: url('../app 5.webp');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 100% 100%;
   border: 1px #D2D2D2 solid;
   border-radius: 50px;
}
#wb_Heading6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading6
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#WrapText6
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
.WrapText6
{
   position: absolute;
   white-space: nowrap;
   border-width: 0;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size:20.80px;
   font-style: normal;
   text-align: left;
}
#Free
{
   box-sizing: border-box;
   line-height: 42px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #0D6EFD;
   border-radius: 4px;
   background-color: #0D6EFD;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Free:focus
{
   outline: 0;
}
#Shape12
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text6 div
{
   text-align: center;
}
#Header_1
{
   background-color: transparent;
   background-image: url('../images/modern-abstract-blue-gradient-background_84443-3708.jpg');
   background-repeat: repeat-x;
   background-position: center center;
   border-radius: 0px;
   box-shadow: 0px 0px 4px #000000;
}
#Label1
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-style: normal;
   font-size: 64px;
   text-align: center;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label1:focus
{
   outline: 0;
}
#Header_2
{
   background-image: linear-gradient(to bottom, #1257FF 0%, #166AFF 50%, #1D8DFF 50%, #1462FF 100%);
   border-radius: 0px;
}
#wb_TextMenu2
{
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: underline;
   text-transform: none;
   font-size: 24px;
   margin: 0;
   text-align: center;
   overflow: hidden;
}
#wb_TextMenu2 span
{
   margin: 0 28px 0 0px;
}
#wb_TextMenu2 a
{
   color: inherit;
   text-decoration: inherit;
}
